# Handling duplicate rows and rows with missing values

Most machine learning algorithms will return an error if they encounter a missing value.  So, you often have to remove rows with missing values from your DataFrame.

To learn how, we need to create a pandas DataFrame and load it with data.

In [1]:
import pandas as pd

The flight delays data set contains information about flights and flight delays

In [2]:
delays_df = pd.read_csv('Data/Lots_of_flight_data.csv')
delays_df.head()

,FL_DATE,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE
0,2018-10-01,WN,N221WN,802,ABQ,BWI,905,903.0,-2.0,1450,1433.0,-17.0,225,210.0,197.0,1670
1,2018-10-01,WN,N8329B,3744,ABQ,BWI,1500,1458.0,-2.0,2045,2020.0,-25.0,225,202.0,191.0,1670
2,2018-10-01,WN,N920WN,1019,ABQ,DAL,1800,1802.0,2.0,2045,2032.0,-13.0,105,90.0,80.0,580
3,2018-10-01,WN,N480WN,1499,ABQ,DAL,950,947.0,-3.0,1235,1223.0,-12.0,105,96.0,81.0,580
4,2018-10-01,WN,N227WN,3635,ABQ,DAL,1150,1151.0,1.0,1430,1423.0,-7.0,100,92.0,80.0,580

**info**  will tell us how many rows are in the DataFrame and for each column how many of those rows contain non-null values. From this we can determine which columns (if any) contain null/missing values

In [3]:
delays_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 16 columns):
FL_DATE                300000 non-null object
OP_UNIQUE_CARRIER      300000 non-null object
TAIL_NUM               299660 non-null object
OP_CARRIER_FL_NUM      300000 non-null int64
ORIGIN                 300000 non-null object
DEST                   300000 non-null object
CRS_DEP_TIME           300000 non-null int64
DEP_TIME               296825 non-null float64
DEP_DELAY              296825 non-null float64
CRS_ARR_TIME           300000 non-null int64
ARR_TIME               296574 non-null float64
ARR_DELAY              295832 non-null float64
CRS_ELAPSED_TIME       300000 non-null int64
ACTUAL_ELAPSED_TIME    295832 non-null float64
AIR_TIME               295832 non-null float64
DISTANCE               300000 non-null int64
dtypes: float64(6), int64(5), object(5)
memory usage: 30.9+ MB

TAIL_NUM, DEP_TIME, DEP_DELAY, ARR_TIME, ARR_DELAY, ACTUAL_ELAPSED_TIME, and AIR_TIME all have rows with missing values.

There are many techniques to deal with missing values, the simplest is to delete the rows with missing values.

**dropna** will delete rows containing null/missing values

In [4]:
delay_no_nulls_df = delays_df.dropna()   # Delete the rows with missing values
delay_no_nulls_df.info()                 # Check the number of rows and number of rows with non-null values to confirm

<class 'pandas.core.frame.DataFrame'>
Int64Index: 295832 entries, 0 to 299999
Data columns (total 16 columns):
FL_DATE                295832 non-null object
OP_UNIQUE_CARRIER      295832 non-null object
TAIL_NUM               295832 non-null object
OP_CARRIER_FL_NUM      295832 non-null int64
ORIGIN                 295832 non-null object
DEST                   295832 non-null object
CRS_DEP_TIME           295832 non-null int64
DEP_TIME               295832 non-null float64
DEP_DELAY              295832 non-null float64
CRS_ARR_TIME           295832 non-null int64
ARR_TIME               295832 non-null float64
ARR_DELAY              295832 non-null float64
CRS_ELAPSED_TIME       295832 non-null int64
ACTUAL_ELAPSED_TIME    295832 non-null float64
AIR_TIME               295832 non-null float64
DISTANCE               295832 non-null int64
dtypes: float64(6), int64(5), object(5)
memory usage: 32.7+ MB

If you don't need to keep the original DataFrame, you can just delete the rows within the existing DataFrame instead of creating a new one

**inplace=*True*** indicates you want to drop the rows in the specified DataFrame

In [5]:
delays_df.dropna(inplace=True)
delays_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 295832 entries, 0 to 299999
Data columns (total 16 columns):
FL_DATE                295832 non-null object
OP_UNIQUE_CARRIER      295832 non-null object
TAIL_NUM               295832 non-null object
OP_CARRIER_FL_NUM      295832 non-null int64
ORIGIN                 295832 non-null object
DEST                   295832 non-null object
CRS_DEP_TIME           295832 non-null int64
DEP_TIME               295832 non-null float64
DEP_DELAY              295832 non-null float64
CRS_ARR_TIME           295832 non-null int64
ARR_TIME               295832 non-null float64
ARR_DELAY              295832 non-null float64
CRS_ELAPSED_TIME       295832 non-null int64
ACTUAL_ELAPSED_TIME    295832 non-null float64
AIR_TIME               295832 non-null float64
DISTANCE               295832 non-null int64
dtypes: float64(6), int64(5), object(5)
memory usage: 32.7+ MB

When data is loaded from multiple data sources you sometimes end up with duplicate records.

In [6]:
airports_df = pd.read_csv('Data/airportsDuplicateRows.csv')
airports_df.head()

             Name        City         Country
0  Seattle-Tacoma     Seattle             USA
1          Dulles  Washington             USA
2          Dulles  Washington             USA
3        Heathrow      London  United Kingdom
4        Schiphol   Amsterdam     Netherlands

use **duplicates** to find the duplicate rows.

If a row is a duplicate of a previous row it returns **True**

In [7]:
airports_df.duplicated()

0    False
1    False
2     True
3    False
4    False
5    False
6    False
7    False
dtype: bool

**drop_duplicates** will delete the duplicate rows

In [8]:
airports_df.drop_duplicates(inplace=True)
airports_df

             Name        City         Country
0  Seattle-Tacoma     Seattle             USA
1          Dulles  Washington             USA
3        Heathrow      London  United Kingdom
4        Schiphol   Amsterdam     Netherlands
5          Changi   Singapore       Singapore
6         Pearson     Toronto          Canada
7          Narita       Tokyo           Japan