# pandas Series and DataFrame

## pandas
**pandas** is an open source library providing data structures and data analysis tools for Python programmers

In [2]:
import pandas as pd

## Series
The pandas **Series** is a one dimensional array, similar to a Python list

In [3]:
airports = pd.Series(
    [
        'Seattle-Tacoma', 
        'Dulles', 
        'London Heathrow', 
        'Schiphol', 
        'Changi', 
        'Pearson', 
        'Narita'
    ]
)

# When using a notebook, you can use the print statement
# print(airports) to examine the contents of a variable
# or you can print a value on the screen by just typing the object name
airports

0     Seattle-Tacoma
1             Dulles
2    London Heathrow
3           Schiphol
4             Changi
5            Pearson
6             Narita
dtype: object

You can reference an individual value in a Series using it's index

In [4]:
airports[2]

'London Heathrow'

You can use a loop to iterate through all the values in a Series

In [5]:
for value in airports:
    print(value)

Seattle-Tacoma
Dulles
London Heathrow
Schiphol
Changi
Pearson
Narita

## DataFrame
Most of the time when we are working with pandas we are dealing with two-dimensional arrays

The pandas **DataFrame** can store two dimensional arrays

In [6]:
airports = pd.DataFrame(
    [
        ['Seatte-Tacoma', 'Seattle', 'USA'],
        ['Dulles', 'Washington', 'USA'],
        ['London Heathrow', 'London', 'United Kingdom'],
        ['Schiphol', 'Amsterdam', 'Netherlands'],
        ['Changi', 'Singapore', 'Singapore'],
        ['Pearson', 'Toronto', 'Canada'],
        ['Narita', 'Tokyo', 'Japan']
    ]
)

airports

                 0           1               2
0    Seatte-Tacoma     Seattle             USA
1           Dulles  Washington             USA
2  London Heathrow      London  United Kingdom
3         Schiphol   Amsterdam     Netherlands
4           Changi   Singapore       Singapore
5          Pearson     Toronto          Canada
6           Narita       Tokyo           Japan

Use the **columns** parameter to specify names for the columns when you create the DataFrame

In [7]:
airports = pd.DataFrame(
    [
        ['Seatte-Tacoma', 'Seattle', 'USA'],
        ['Dulles', 'Washington', 'USA'],
        ['London Heathrow', 'London', 'United Kingdom'],
        ['Schiphol', 'Amsterdam', 'Netherlands'],
        ['Changi', 'Singapore', 'Singapore'],
        ['Pearson', 'Toronto', 'Canada'],
        ['Narita', 'Tokyo', 'Japan']
    ],
    columns = ['Name', 'City', 'Country']
)

airports

              Name        City         Country
0    Seatte-Tacoma     Seattle             USA
1           Dulles  Washington             USA
2  London Heathrow      London  United Kingdom
3         Schiphol   Amsterdam     Netherlands
4           Changi   Singapore       Singapore
5          Pearson     Toronto          Canada
6           Narita       Tokyo           Japan